$color-primary: rgba(126, 213, 111, 1);
$color-primary-sub: rgba(83, 113, 255, 0.8);
$color-channel-background: rgb(159 173 246 / 80%);
$color-black: #3a3a3a;
$color-gray: #777;
$color--light-gray: #dfdfdf;
$color-white: #fff;
